body {
    font-family: Arial, sans-serf;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}
#divi{
    width: 100%;
    height: 50px;
    background-color: aqua;
}